* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 600px;
    width: 450px;
    display: flex;
    flex-direction: column;
}

#history {
    height: 70px;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-image: linear-gradient(to right,  rgb(17, 17, 17), black);
    border-top: 2px solid #FF6B00;
    border-right: 2px solid #FF6B00;
    border-left: 2px solid #FF6B00;
    color: rgb(150, 149, 149);
    text-align: right;
    font-size: 2em;
    padding-top: 15px;
    padding-right: 10px;
}

#output {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 70px;
    background-color: white;
    background-image: linear-gradient(to right, rgb(17, 17, 17),black);
    border-bottom: 2px solid #FF6B00;
    border-right: 2px solid #FF6B00;
    border-left: 2px solid #FF6B00;
    color: white;
    text-align: right;
    font-size: 2em;
    padding-top: 15px;
    padding-right: 10px; 
}

.button-area {
    width: 450px;
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 350px;
    height: 420px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: black;
}

button {
    width: 70px;
    height: 80px;
    border-radius: 10px;
    border: none;
    outline: 0;
    background-color: #0D0D0D;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    transition: background-color 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #1b1b1b;
}
button:active {
    background-color: #FF6B00;
}

.long {
    grid-area: 4/4/6/5;
    height: 160px;
}